@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

body {
  background-image: url("images/desktop-wallpaper.jpeg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

div.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  );
  padding-top: 6rem;
}

h5 {
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}

header input {
  width: 100%;
  padding: 10px 15px;
  max-width: 280px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 16px 0px 16px 0px;
  color: #313131;
  border-bottom: 3px solid #ff5f6d;
  font-size: 1.1rem;
  font-weight: 400;
  transition: 0.2s ease-out;
}

header input:focus {
  background-color: rgba(255, 255, 255, 0.6);
  color: #292727;
}

header input::placeholder {
  color: #460a08;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1 1 100%;
  padding: 25px 25px 50px;
}

.location .city {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.location .date {
  color: #fff;
  font-size: 1rem;
}

.current .temperature {
  color: #fff;
  font-size: 5rem;
  margin: 30px 0px;
  font-weight: 700;
  box-shadow: 2px 10px rgba(0, 0, 0, 0.6);
}

.current .temperature span {
  font-weight: 400;
}

.current .weather {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .hi-low {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  text-shadow: 0px 40px rgba(0, 0, 0, 0.4);
}
